// Boxes
// boxes-info
.boxes-info {
  .box-info {
    background-color: white;
    padding: 25px 15px;
    text-align: end;
    overflow: hidden;
    border-radius: 0.375rem;
    position: relative;
    box-shadow: 0 0 6px 0 #d3d3d3;
    transition: $transition;
    &:hover {
      box-shadow: 0 0 6px 0 #aeaaaa;
    }
    &.blue {
      .bg-icon {
        color: #5b8af0;
      }
    }
    &.green {
      .bg-icon {
        color: #64d2ed;
      }
    }
    &.pur {
      .bg-icon {
        color: #7b74eb;
      }
    }
    &.red {
      .bg-icon {
        color: #de5f56;
      }
    }
    .num {
      font-size: 25px;
    }
    .text {
      font-size: 18px;
      color: $text-greey;
    }
    .bg-icon {
      position: absolute;
      right: 3%;
      bottom: 0;
      font-size: 60px;
    }
  }
  &.boxes-bg-color .box-info {
    color: white;
    .text {
      color: white;
    }
    .bg-icon {
      color: white;
    }
    &.blue {
      background-color: #5b8af0;
    }
    &.green {
      background-color: $main-color;
    }
    &.pur {
      background-color: #7b74eb;
    }
    &.red {
      background-color: #de5f56;
    }
  }
}

// Tables
// Main Table
.main-table {
  width: 100%;
  border-radius: 7px;
  border: none !important;
  border: 1px solid $light-grey-color !important;
  * {
    border: none !important;
  }
  tr {
    border: 1px solid $light-grey-color !important;
    th {
      background-color: $light-greey;
      color: $text-greey;
      font-size: 12px;
      font-weight: bold;
      white-space: nowrap;
      padding: 10px;
    }
    td {
      background-color: white;
      font-size: 14px;
      padding: 10px;
    }
  }
}

// Side bar
.card-side {
  box-shadow: -13px 20px 20px 0 #0000000a;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
  .user-avatar {
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
  .user-name {
    margin: 0 0 0.5rem 0;
  }
  .user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
  }
  .card-slide {
    box-shadow: 0px 8px 10px 0 #0000000a !important;

    padding: 1.5rem 1rem;
    text-align: center;
    .btn-icon {
      color: #666;
      &:hover {
        color: #000;
      }
      .icon {
        border: none !important;
        svg,
        i {
          width: 20px;
        }
      }
    }
  }
}
//landing-section
.landing-section {
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: $main-color-50;
  }
  .img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    object-fit: cover;
  }
}
