// Select
//MAin-Select
.main-select {
  border-radius: 4px;
  padding: 0.2rem;
  font-size: 13px;
  transition: $transition;
  border: 1px solid $light-grey-color ;
  &:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  outline: none;
}
}
