//colors
$main-color: #01B3E4;
$main-color-50: hsla(193, 99%, 45%, 0.500);
$grey-color: #9c9c9c;
$color-box-shadow: #e4e4e485;
$light-grey-color: #ddd;
$light-greey:  #f9fafb;
$text-greey:#6b7280;
$greey-blue: #8F9AB8;
$section-color:#F7F6FE;
$bg-dark: #313131;
$bg-dark-light: #4e4e4e;
//transition
$transition: 300ms;
