// Start Login And Reseat
.loginPage {

  height: 100vh;
  @include maxWidth(md) {
    .login_box {
      width: 100% !important;
    }
  }
  @include maxWidth(sm) {
    .login_box {
      width: 80% !important;
      .image_holder {
        img {
          border-radius: 15px 15px 0px 0 !important;
        }
      }
    }
  }
  width: 100%;
  min-height: calc(100vh - 155px - 463.38);
  // min-height: 100vh ;

  @include centering;
  .login_box {
    min-height: 380px;
    background-color: white;
    border-radius: 15px;
    width: 70%;
    margin: auto;
    .image_holder {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 0px 15px 15px 0;
        object-fit: cover;
      }
    }
    .login-form {
      padding: 2.5rem;
      @include centering;
      height: 100%;
      .login_content {
        margin-bottom: 20px;
        .title {
          margin-bottom: 1rem;
          font-size: 16px;
          font-weight: 600;
        }
        .inp_holder {
          margin-bottom: 15px;
          .login-label {
            margin-bottom: 6px;
            font-size: 11px;
            color: #959595;
            font-weight: 600;
          }
          .login-inp {
            padding: 5px 13px !important;
            border-radius: 6px;
          }
        }
        .btn_holder {
          .login-btn {
            transition: background-color 0.4s;
            width: 100%;
            color: white;
            text-align: center;
            margin-top: 15px;
            padding: 0.5rem 1rem;
            line-height: 1.25rem;
            font-weight: 500;
            border-radius: 0.5rem;
            background-color: #01b3e4;
            &:hover {
                background-color: #01abda;
            }
          }
        }
      }
    }
  }
}

// End Login And Reseat


