// artical section
.artical-section {
  .box-text {
      width: 100%;
      background-color: white;
      border-radius: 6px;
      padding: 15px;
      .image-holder {
          height: 250px;
          width: 50%;
          margin: 0 auto 30px;
          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
        }
      h1 {
          color: $main-color;
          font-weight: 600;
          font-size: 24px;
          margin-bottom: 13px;
          p {
              color: #fff;
              font-size: 16px;
          }
      }
  }
}

// Section-contact
.section-contact {
  .contact_us {
    position: relative;
    width: 100%;
    max-height: 100%;
    height: 135px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .box-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      > h1 {
        color: #033b4a;
        font-weight: 600;
        margin-bottom: 5px;
      }
      > p {
        margin-bottom: 0%;
        color: #fff;
        font-size: 18px;
      }
    }
  }

  .contact_way {
    background-color: #f9fafb;
    .box-content {
      text-align: center;
      .icon_holder {
        margin: 0 auto 15px;
        > i,
        svg {
          font-size: 60px;
          color: #01b3e4;
        }
      }
      p {
        margin: 0 0 15px;
        font-size: 15px;
        color: #9dabaf;
      }
    }
  }

  .form_section {
    .contact-title {
      text-align: center;
      h3 {
        font-size: 25px;
        line-height: 35px;
        color: #033b4a;
      }
      p {
        margin: 0 0 20px;
        font-size: 15px;
        color: #9dabaf;
      }
    }
    .form-group {
      .custom-form {
        display: block;
        width: 100%;
        height: calc(2em + 1rem + 2px);
        padding: 8px 25px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        color: #033b4a;
        background-color: #f0f2f5 !important;
        background-clip: padding-box;
        border: none;
        border-radius: 50rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
    }
  }

  .btn-washla {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 6px 25px;
    border-radius: 5px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #01b3e4;
    border: 1px solid #01b3e4;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    &:hover {
      color: white;
      background-color: #03a0cb;
      border: 1px solid #03a0cb;
    }
  }

  .map {
    width: 100%;
    iframe {
      width: 100%;
      height: 80vh;
    }
  }

}